.authorization-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-check-input:checked {
    background-color: #1B9AAA;
    border-color: #1B9AAA;
}
