    html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    background-color: white;
    color: #1a1d27;
    font-family: 'Roboto', sans-serif;
}

.btn-custom {
    background-color: #4D8BBD;
    color: white;
}

    .btn-custom:hover {
        background-color: #F7911D;
        color: white;
    }

    .btn-custom.active {
        background-color: #F7911D;
        color: white;
    }

.div-custom {
    background-color: #F3F6F8;
}

.required {
    color: red; /* Обозначение обязательности */
}

.logo {
    width: 60px; /* Ширина логотипа */
    height: auto; /* Автоматическая высота */
    margin-right: 10px; /* Отступ справа от логотипа */
}

.dropdown-menu-custom {
    background-color: white;
    color: #1A1D27;
    right: 0;
    left: auto;
}

    .dropdown-menu-custom a {
        color: #1A1D27; 
        text-decoration: none; 
    }

        .dropdown-menu-custom a:hover {
            background-color: #2B6A9F;
            color: white;
        }

.nav-container {
    display: flex;
    align-items: center;
    margin-left: auto; /* Сдвигаем контейнер вправо */
}