.btn-add-user {
    background-color: #1B9AAA;
}

    .btn-add-user:hover {
        background-color: #F7911D;
    }

.btn-edit {
    background-color: #FFA500;
}

    .btn-edit:hover {
        color: white;
        background-color: #FF8C00;
    }

.btn-icon {
    color: white;
}
