.text-primary {
    color: #F7911D;
}

.text-secondary {
    color: #1A1D27;
}

.text-accent {
    color: #1B9AAA;
}

.text-light {
    color: #EDFCF5;
}

.alert {
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    display: none; /* Скрываем по умолчанию */
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}

.alert-error {
    background-color: #f8d7da;
    color: #721c24;
}

.mb-2 {
    margin-bottom: 0.5rem; /* Уменьшение расстояния между полями */
}
