@model ElectronicJournalsApi.Models.User

@{
    ViewData["Title"] = "Создать";
}
@{
    Layout = "_Layout";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New User</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/ElectronicJournalApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/userCreate.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <div class="container mx-auto p-8">
        <div class="bg-white p-8 rounded-lg shadow-lg max-w-lg mx-auto">
            <h2 class="text-3xl font-bold mb-6 text-center text-secondary">Создание нового пользователя</h2>
            <form id="createUserForm">
                <div class="mb-2">
                    <label for="surname" class="block text-secondary font-semibold mb-1">Фамилия </label>
                    <input type="text" id="surname" name="surname" class="appearance-none border rounded w-full py-2 px-3 text-secondary leading-tight focus:outline-none">
                </div>
                <div class="mb-2">
                    <label for="name" class="block text-secondary font-semibold mb-1">Имя </label>
                    <input type="text" id="name" name="name" class="appearance-none border rounded w-full py-2 px-3 text-secondary leading-tight focus:outline-none">
                </div>
                <div class="mb-2">
                    <label for="patronymic" class="block text-secondary font-semibold mb-1">Отчество</label>
                    <input type="text" id="patronymic" name="patronymic" class="appearance-none border rounded w-full py-2 px-3 text-secondary leading-tight focus:outline-none">
                </div>
                <div class="mb-2">
                    <label for="login" class="block text-secondary font-semibold mb-1">Логин <span class="required">*</span></label>
                    <input type="text" id="login" name="login" class="appearance-none border rounded w-full py-2 px-3 text-secondary leading-tight focus:outline-none" required>
                </div>
                <div class="mb-2">
                    <label for="password" class="block text-secondary font-semibold mb-1">Пароль <span class="required">*</span></label>
                    <input type="password" id="password" name="password" class="appearance-none border rounded w-full py-2 px-3 text-secondary leading-tight focus:outline-none" required>
                </div>
                <div class="mb-2">
                    <label for="phone" class="block text-secondary font-semibold mb-1">Телефон</label>
                                        <input type="text" id="phone" name="phone" class="appearance-none border rounded w-full py-2 px-3 text-secondary leading-tight focus:outline-none">
                </div>
                <div class="mb-2">
                    <label for="birthdate" class="block text-secondary font-semibold mb-1">Дата рождения</label>
                    <input type="date" id="birthdate" name="birthdate" class="appearance-none border rounded w-full py-2 px-3 text-secondary leading-tight focus:outline-none ">
                </div>
                <div class="mb-4">
                    <label for="role" class="block text-secondary font-semibold mb-1">Роль <span class="required">*</span></label>
                    <select id="role" name="role" class="appearance-none border rounded w-full py-2 px-3 text-secondary leading-tight focus:outline-none" required>
                        <option value="">Выберите роль</option>
                        <!-- Роли будут загружены сюда -->
                    </select>
                </div>
                <div id="alert" class="alert mt-4"></div> 
                <div class="flex items-center justify-between">
                    <button type="submit" class="tn btn-custom text-white px-4 py-2 rounded">
                        Добавить
                    </button>
                    <a href="/Users/Index" class="inline-block align-baseline font-bold text-sm text-accent hover:text-primary">
                        Вернуться к списку
                    </a>
                </div>
            </form>
        </div>
    </div>

    <script src="~/js/userCreate.js"></script>
</body>

