@{
    ViewData["Title"] = "Журнал посещаимости";
}
@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/attendanceJournal.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
      <div class="flex flex-col md:flex-row min-h-screen">
        <!-- Sidebar -->
        <div class="w-full md:w-1/4 bg-[#1A1D27] text-white p-4" id="subjects-sidebar">
            <h2 class="text-2xl font-bold mb-4">Предметы</h2>
            <ul id="subjects-list">
                <!-- Динамически заполняем список предметов -->
            </ul>
        </div>
        <div class="w-full md:w-3/4 p-4">
            <h2 class="text-2xl font-bold mb-4">Журнал посещаимости</h2>
            <div class="flex justify-between mb-2">
                <div class="flex space-x-1">
                    <button id="add-entry" class="btn btn-custom rounded p-2" style="display: none;">Добавить запись</button>
                </div>
                <div class="flex space-x-2"> 
                    <button class="btn btn-cancel rounded p-2">Отмена</button>
                    <button id="saveEntries" class="btn btn-save rounded p-2">Сохранить</button>
                </div>
             </div> 
            <div class="overflow-x-auto">
                <table class="bg-white mb-4 table table-bordered">
                   <thead class="thead-light">
                        <tr>
                            <th class="py-2 px-2 border-b">#</th>
                            <th class="py-2 px-4 border-b">Студент</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Данные о студентах -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Модальное окно для ввода даты -->
   <div id="dateModal" class="modal flex items-center justify-center" style="display: none;">
        <div class="modal-content bg-white rounded-lg shadow-lg p-6 w-full max-w-md">
            <div class="flex justify-between items-center mb-4">
                <h2 class="text-xl font-semibold">Введите дату</h2>
                <button id="closeModal" class="text-2xl">&times;</button>
            </div>
            <input type="date" id="entryDate" name="entryDate" class="border rounded w-full py-2 px-3 mb-4">
            <button id="submitDate" class="btn btn-custom w-full py-2 px-4 rounded">Добавить</button>
        </div>
    </div>
    <script src="~/js/attendanceJournal.js"></script>
</body>
</html>


